<% include partials/header %>

<div class="container">
        <header class="jumbotron">
            <div class="container">
                    <h1>Welcome to YelpCamp!</h1>
                    <p>View our hand-picked campgrounds from all over the world</p>
                    <p>
                        <a class = "btn btn-primary btn-lg" href="/campgrounds/new">Add new Campgrounds</a>
                    </p>
            </div>               
                     
        </header>

         <!--<div class="row text-center">
                <% campgrounds.forEach(function(campground){ %>
                    <div class="col-sm-6 col-md-3">                       
                         <img src="<%= campground.image %>" class="img-thumbnail img-fluid">
                         <div class="caption">
                                <h6><%= campground.name %></h6>
                         </div>                       
                    </div>
                    
                <% }); %>
            
        </div> -->

        <div class="card-deck">
                <% campgrounds.forEach(function(campground){ %>
                <div class="card">
                  <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
                <% }); %>
        </div>
        
        


</div>

<% include partials/footer %>