<% include partials/header %>



<h1>Create a new Campground</h1>

<form action="/campgrounds" method="POST">
    <input class="form-control form-control-sm" type="text" name="name" id="" placeholder="name">
    <input class="form-control form-control-sm" type="text" name="image" id="" placeholder="image url">
    <button class="btn btn-outline-secondary"> Submit!</button>

</form>

<% include partials/footer %>