<% include ../partials/header %>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 col-lg-6">
            <h1 class="text-center">Edit comment</h1>
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control form-control-sm" type="text" name="comment[text]" id="" value="comment.text">
                </div>
                
                
                <div class="form-group">
                    <button class="btn btn-outline-secondary btn-block"> Submit!</button>
                </div>      
            </form>
            <a href="/campgrounds"> Go back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>